@using Queen.Shared.States

@Fragment

<div>
    <a href="#">
        <button class="btn btn-primary" type="submit">Submit</button>
    </a>
</div>

@code
{
    public void UserDetails()
    {
        
    }
    
  [Parameter]  public RenderFragment Fragment { get; set; }
}