@page "/ForgotPasswordCreateNew"

<div>
    <div>
        <div>
            <h3>ForgotPasswordCreateNew</h3>
        </div>
        <div>
            <input type="password" class="form-control" placeholder="New Password">
            <input type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <div>
            <a href="#">
                <button class="btn btn-primary" type="submit">Submit</button>
            </a>
        </div>
    </div>
</div>

