@page "/ForgotPassword"

<div>
    <div>
        <div>
            <h2>Forgot Password?</h2>
            <small>Enter your registered email below to receive password reset instruction</small>
        </div>
        <div>
            <input type="text" class="form-control" placeholder="Enter Email">
        </div>
        <a href="#">
            <button class="btn btn-primary" type="submit">Send</button>
        </a>
    </div>
</div>
