@page "/OTP"

<div>
    <div>
        <div>
            <h3>OTP Verification</h3>
            <small>We will send you an <span>One Time Password</span> on this mobile number</small>
        </div>
        <div>
            <label id="otpNumber" for="otpNumber">
                <small>Enter Mobile Number</small>
            </label>
            <input type="text" class="form-control" placeholder="+63 000 000 0000">
        </div>
        <div>
            <a href="#"></a>
            <button type="button" class="btn btn-primary">Get OTP</button>
        </div>
    </div>
</div>