@page "/OTPVerification"

<div>
    <div>
        <div>
            <h3>OTP Verification</h3>
            <p>Enter the OTP sent to....</p>
        </div>
        <div>
            <input type="number" class="form-control text-center" id="mobileOtp" maxlength="6" placeholder="XXXXXX" required="required"/>
        </div>
        <div>
            <small>Didn't receive the OTP? <a href="#" class="text-decoration-none">Resend OTP</a></small>
        </div>
        <div>
            <a href="#"></a>
            <button type="button" class="btn btn-primary">Verify</button>
        </div>
    </div>
</div>
