@page "/ForgotPassword"
@inherits ForgotPasswordPageBase

<div class="center-contents">
    <div class="border border-4 border-dark rounded-3 shadow w-50 p-5 h-100 mx-auto">
        <div>
            <h2>Forgot Password?</h2>
            <small>Enter your registered email below to receive password reset instruction</small>
        </div>
        <div class="mx-auto my-4">
            <input type="text" class="form-control" placeholder="Enter Email">
        </div>
        <div class="d-grid mx-auto w-50 mt-4">
            <button class="btn btn-primary" @onclick="ResetPassword">Reset</button>
        </div>
    </div>
</div>
