@page "/LogInPage"
@inherits LogInPageBase

<div class="center-contents">
    <div class="border border-4 border-dark rounded-3 shadow mx-auto w-50 h-100 p-5">
        <div>
            <h2>Welcome to Queen</h2>
            <small>Strategize and Conquer.</small>
        </div>
        <div class="mx-auto my-4">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="emailLogin" placeholder="Enter Email" name="emailLogin" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password" required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="my-2">
                    <input class="form-check-input" type="checkbox" id="rememberMe" name="remember" required>
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                </div>
            </form>
        </div>
        <div class="d-grid mx-auto w-50">
            <button type="button" class="btn btn-primary" @onclick="LogIn">Sign In</button>
        </div>
    </div>
</div>

